
* GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: Arial, sans-serif;
}

/* LOGIN BOX */
.login-box {
    width: 350px;
    padding: 40px 30px;
    margin: 80px auto;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    text-align: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-size: 15px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background: #0095f6;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0078cc;
}

/* SIGN UP TEXT */
.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 450px) {
    .login-box {
        width: 90%;
        margin-top: 120px;
    }
}
